@import "variables.css";
@import "fonts.css";
@import "events.css";
@import "booking.css";

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  // -webkit-user-select: none;                /* disable text select */
  -webkit-touch-callout: none;              /* disable callout, image save panel (popup) */
  -webkit-tap-highlight-color: transparent; /* "turn off" link highlight */

}


h1,h2,h3,p,a {
	text-rendering: optimizeLegibility;
}
p {
	z-index: 2;
}
a:focus {
  outline:0; // Firefox (remove border on link click)
}

.grey {
	color:#333;
}
.wheat {
	color: #d8bb82;

}
// FULLPAGE NAV STYLES 

#fullPage-nav span, .fullPage-slidesNav span, #fullPage-nav li a, .fullPage-slidesNav li a, #fullPage-nav li, .fullPage-slidesNav li, #fullPage-nav ul, .fullPage-slidesNav ul, #fullPage-nav,.fullPage-tooltip {
	color: white;
	background-color: white;
}

// ARROW BOUNCE

.downArrow{
	position: fixed;
	bottom: 30%;
	left:  48%;
	font-size: 90px;
	a {
	color: white;

	}
}
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}








// OFFCANVAS MENU


.modal-fullscreen-menu {
	background: black;
	height: 100vh;
	overflow: hidden;

  .close {
    color: white;
    opacity: 1;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    font-size: 5vh;
  }

  .modal-dialog {
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
    display: flex;
    height: 100%;
    align-items: center;
  }

  .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
  }

  .list-group {
    text-align: center;
    margin: 0 auto;
    width: 100%;

    a {
      font-size: 200%;
      font-weight: 200;
      letter-spacing: 0.05em;
      border: none;
      transition: all 0.25s ease;
      background-color: transparent;
      color: white;
      padding: 7.5vh 0;
      height: 5vh;
      font-size: 5vh;
      line-height: 0;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: -1;
        opacity: 0;
        transform: scale3d(0.7, 1, 1);
        transition: transform 0.4s, opacity 0.4s;
      }

      &:hover {
        color: black;

        &:before {
          transform: translate3d(0, 0, 0);
          opacity: 1;
        }
      }
    }
  }
}

.modal-backdrop {
  &.in {
    opacity: .9;
    z-index: -1;
  }
}



// #site-wrapper {
//   position: relative;
//   overflow: hidden;
//   width: 100%;
  
//   height: 5000px; /* Temp: Simulates a tall page. */
// }
// #site-canvas {
//   width: 100%;
//   height: 100%;
//   position: relative;
  
//   -webkit-transform: translateX(0);
//   transform: translateX(0);
  
//   -webkit-transform: translate3d(0, 0, 0);
//   transform: translate3d(0, 0, 0);
  
//   -webkit-transition: 300ms ease all;
//   transition: 300ms ease all;
 
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;

  
  
    
//   padding: 5% 0; /* Temp: Just spacing. */
// }
// .show-nav #site-canvas {
//   -webkit-transform: translateX(300px);
//   transform: translateX(300px);
  
//   -webkit-transform: translate3d(300px, 0, 0);
//   transform: translate3d(300px, 0, 0);
// }
// #site-menu {
//   width: 300px;
//   height: 100%;
//   position: absolute;
//   top: 0;
//   left: -300px;
//   background: #428bca;
//   padding: 15px;
// }

// *******************************MOBILE VERSION******************************************






// ***************************


body {
	font-family: 'Effra'; 
	background: white;
	
}
/* container-fluid fix*/
.container-fluid {
	padding: 0;
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
   
    /* inline-block space fix */
    margin-right:-4px;
}

.main {
	z-index: 2;
	position: absolute;
	top:0;
	left:0;
	width: 100%;

}

.nav{
	 a{
	 	line-height: 50px;
	 	 display:inline;
	color: #fff;
    display:inline-block;
    text-transform: uppercase;
    padding:10px;
    text-align: center;
        text-align: -webkit-center;
        font-weight: 100;
	font-style: normal;
	font-size: 21px;
	&:hover {
		opacity:0.7;
		text-decoration: none;
		cursor: pointer;
	}

}

}
.menu-button  {
	position: fixed;
	top: 2%;
	left:  0;
	font-size: 25px;
	font-weight: 0;
	
	a{
		color:#fff;
		z-index: 10;
		&:hover{
			opacity:0.6;
			cursor:pointer;
		}
	}
}

.open-menu {
	background: transparent;
	border:none;
	margin-left: 2vh;
	&:hover{
		background: rgba(255, 255, 255, .4);
		color: white;
	}
}
.menu-logo {
	
	max-width: 400px;
	margin:30px auto;
		z-index: 10;

	&:hover{
			opacity:0.6;
			cursor:pointer;
		}
}
.menu-contacts {
	text-align: right;
	color: #fff;
	margin-top: 5px;
	padding-right: 50px;
	
	.tel {
		font-size: 21px;
		margin-top: 15px;
		font-weight: 100;
	font-style: normal;
	}
	a {
		padding: 10px 10px;
		font-size: 35px;
		color:#fff;
		

		&:hover{
			opacity:0.6;
		}

	}
	
}

.hero {
	height: 100vh;
	width:100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-image: url('../img/bg_main.png');
	background-size: 100% auto;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.spacer {
	position: relative;
	top:-100px;
}
.company-stats {

	float:left;
	p {
			margin-top: 45px;
			text-align: center;
			font-size: 18px;
			line-height: 0.9;
		}
}

.border {
	border-radius: 50%;
	width: 172px;
	height: 172px;
	padding: 4px;
	background: none;
	border: 2px solid #a88643;
	margin-left: auto;
	margin-right: auto;
		.numbers {
			width: 160px;
			height: 160px;
			text-align: center;
			background: #a88643;
			border-radius: 50%;
			position: relative;
			color: #fff;
			margin-bottom: 80px;

			
		
		.num {
			  position: absolute;
			  top:10%;
			 left:11%;
			  font-size: 90px;
			  font-family: 'ArnoPro';
	font-weight: 100;
	font-style: normal;
				    line-height: 1.2;
font-weight: thin;
			
		}
		.num1 {
			left:8%;
		}
.num1::after{
				content:'лет';
				display: block;
				font-size: 21px;
				font-weight: normal;
				    position: absolute;
    top: 74%;
    left: 48%;
			}
.num2::after{

				content:'тысяч\00a0рублей';
				display: block;
				font-size: 21px;
				font-weight: normal;
				    position: absolute;
    top: 74%;
    left: 8%;
			}
.num3::after{


				content:'миллионов рублей';
				display: block;
				font-size: 21px;
				font-weight: normal;
				    position: absolute;
    top: 74%;
    left: 5%;
			}
.num4::after{


				content:'человек';
				display: block;
				font-size: 21px;
				font-weight: normal;
				    position: absolute;
    top: 74%;
    left: 28%;
			}
}


}

.test {
	
	h2,p {
		display: block;
	}
	a {
	color:inherit;
	&:hover {
		
		cursor: pointer;
		.half--colored,.half__border:before,.half__border:after,.half__border--left:before,.half__border--left, .half__border--right:before,.half__border--right  {
	background-color: silver;

	cursor: pointer;

}
h2, p{
	color:white;
	
	
}

}
}
}



.half {
	height: 50vh;
	position: relative;
	width: calc(50% + 20px);
	float: left;
	background-size: cover;
	display: flex;
	 align-items: center;
  justify-content: center;
	h2 {
		font-size: 70px;
		color:#a88643;
		text-transform: uppercase;
		font-family: 'ArnoPro';
		font-weight: 100;
	    margin-bottom: -1vh;


	}
	p {
		font-size: 32px;
		font-family: 'ArnoPro';
		font-weight: thin;
		
	}
	&.baloons{
		background-image: url('../img/baloons.jpg');
	} 
	&.guitar {
		background-image: url('../img/guitar.png');
		
	}
	&.team {
		background-image: url('../img/wedding.jpg');
		
	}
	&.barcelona {
		background-image: url('../img/city-_sights.png');
		
	}

}

.half--colored {
	background-color: #ececec;
	width: calc(50% - 20px);
	text-align: center;
 	margin: auto;

}

.half__border {
	height: calc(50% - 10px);
	width: 20px;
	position: absolute;
	/*outline: 1px hotpink solid;*/
	background-color: #ececec;
	z-index: 1;
}

.half__border--top {
	top: 0;
}

.half__border--bottom {
	bottom: 0;
}

.half__border:before {
	content: '';
	height: 20px;
	width: 25px;
	position: absolute;
	/*outline: 1px hotpink solid;*/
	background-color: #ececec;
}

.half__border--left { right: -20px; }
.half__border--right { left: -20px; }

.half__border--left:before {
	right: 4px;
}

.half__border--right:before {
	left: 4px;
}

.half__border--left.half__border--top:before {
	bottom: -8px;
	transform: rotate(-30deg);
}

.half__border--left.half__border--bottom:before {
	top: -8px;
	transform: rotate(30deg);
}

.half__border--right.half__border--top:before {
	bottom: -8px;
	transform: rotate(30deg);
}

.half__border--right.half__border--bottom:before {
	top: -8px;
	transform: rotate(-30deg);
}

.footer {
	
	padding: 20px 20px;
	height: 60px;
	background-color: silver;
color:#3c3d3b ;

	ul {
		list-style: none;

		li {
			display: inline;
			margin-left: 10%;
			padding-left: 10px;
			text-transform: uppercase;
		}
		a {
			color:#3c3d3b ;
			&:hover{
		color: white;
				text-decoration: none;
			}
		}
	}
	
}

.social {
	color:#3c3d3b ;
	position:relative;
	display: inline;
	i {
		font-size: 21px;
		margin-left: 15px;
		color:#3c3d3b ;
		&:hover {
		color: white;
	}
	}
}

.top {

	i {
		font-size: 14px;
	
		padding-top: 2px;
	}

	a{color:#3c3d3b;
		&:hover {
		text-decoration: none;
		color: white;
		i{
			color: white;
		}
	}
		}
}

.mobile-section {
	display: none;
}
.desktop-section {
	display: block;
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {


.hero {
	
	background-size: 250% 80%;
    background-repeat: no-repeat;
    background-position: -250px 0;
}

.company-stats {
	margin-top: 10vh;
	margin-bottom: 2vh;
p {
	font-size: 16px;
}

}	


.menu-logo {
	max-width: 338px;
    margin: 12vh -12vw;
	
}

	.menu-contacts {
		margin-top: -17vh;
		.tel {
			    margin: -55vh 55vw;

		}
		.share {
			    position: absolute;
    top: -35vh;
    right: -64vw;
			display: inline;
		}
	}
	

nav {
	.links{
		display: block;
		text-align: left;
	}
}
.spacer {
    position: relative;
    top: -4vh;
}
.half {
	width: 100%;

}
.guitar {
	float:left;
}
.mobile-section {
	display: block;
}
.desktop-section{
	display: none;
}

.footer {

	height: 85px;
	padding: 15px 20px;
	p:first-child {
		font-size: 14px;
		position: relative;
    top: 4vh;
    left: 28vw;

	}
	ul li {
	
	
	
	margin-left: 0; 
}
	ul {
	margin-top: -32px;
    margin-bottom: 10px;
    margin-left: -10px;
    font-size: 16px;

	
	}
	.social {
		position: relative;
    top: -4px;

	}





}
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

.hero {
	
	background-size: 140vh auto;
    background-repeat: no-repeat;
   
}
.menu-contacts {
	     position: relative;
    top: -3vh;
    left: 2vw;
    .tel {
    	font-size: 16px;
    }
    .share {
    	font-size: 18px;
    }
}
.spacer {
	top:-35vh;
}
.half {
	height:40vh;

}
.test {
	    height: 40vh;
    margin-top: -22vh;
}

.footer {
	       margin-top: -22px;
    height: 101px;
	padding: 20px 20px;
	ul {
		width: 50vw;
    margin-left: -80px;
	}
	.mobile-social {
		display: inline;
	}
	.social {
		font-size: 14px;
		margin-left: -70px;
		
		a {
			padding-left: 2px;
			    margin-bottom: -100px;
    position: relative;
    top: 0;
    left: 20px;

		}		
		.top {
			    position: relative;
    top: -24px;
    left: -20px;
		}
	}
}

}

/* iPhone 6+ (portrait) ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) {
.hero {
	
	background-size: 250% 80%;
    background-repeat: no-repeat;
    background-position: -250px 0;
}

.company-stats {
	margin-top: 10vh;
	margin-bottom: 2vh;
p {
	font-size: 16px;
}

}	


.menu-logo {
	max-width: 370px;
    margin: 12vh -12vw;
	
}

	.menu-contacts {
		margin-top: -17vh;
		.tel {
			        margin: -52vh 60vw;

		}
		.share {
			    position: absolute;
    top: -30vh;
    right: -64vw;
			display: inline;
		}
	}
	

nav {
	.links{
		display: block;
		text-align: left;
	}
}
.spacer {
    position: relative;
    top: -4vh;
}
.half {
	width: 100%;

}
.guitar {
	float:left;
}
.mobile-section {
	display: block;
}
.desktop-section{
	display: none;
}

.footer {

	height: 85px;
	padding: 15px 20px;
	p:first-child {
		font-size: 14px;
		position: relative;
    top: 4vh;
    left: 28vw;

	}
	ul li {
	
	
	
	margin-left: 0; 
}
	ul {
	margin-top: -32px;
    margin-bottom: 10px;
    margin-left: -10px;
    font-size: 16px;

	
	}
	.social {
		position: relative;
    top: -4px;

	}
.mobile-social {
	
}
}





}



