
.booking {
	position: relative;
	height: 100vh;
	z-index: -1;
		background-image: url('../img/guitar.png') ;

	background-size: 100% auto;
	background-attachment: fixed;
	width:100%;
	@media screen and (min-height: 1344px) { 
	height: calc(100vh - 300px); 

	
}
	  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;


	background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0),white);
	opacity: .6; 
  }
	h1 {
		margin: 0;
		padding:0;
		font-size: 250px;
		letter-spacing: 25px;
		position: relative;
		top:70%;
		left:4%;
		text-transform: uppercase;
		font-family: 'ArnoPro';
		font-weight: 100;
		color: #fff;
position: relative;
	}
	}

	.goodwill {
		position: absolute;
		top:10%;
		left: 0;
		height: 100vh;
		text-align: center;
		font-size: 21px;
		font-weight: 100;
		.translate  {
			font-family: 'ArnoPro';
		font-size: 36px;
		color:#b1b1b1;
		p:first-child {
					color:#a88643;
				

		}
			&:after {
						content:'»';
						position: absolute;
						top: -20%;
					color:#a88643;

						right: 8vw;
						font-weight: bold;

								font-size: 100px;


							}
					&:before {
						content:'«';
						position: absolute;
						top: -20%;
						left: 8vw;
						display: inline-block;
								font-size: 100px;
					color:#a88643;
font-weight: bold;

							}
						}

		}
		.residents {
							text-align: center;

			margin: 15vh auto;
		}
		.wedo {
			font-family: 'ArnoPro';
		font-size: 36px;
		color:#a88643;}


.artists {
		position: relative;
	height: 100vh;
	z-index: 2;
	background-image: url('../img/mic.png') ;
display: flex;
align-items:center;
justify-content:center;
	background-size: 100% auto;
	
	@media screen and (min-height: 1344px) { 
	height: calc(100vh - 300px); 

	
}
.singers{
		max-height: 90vh;
		height: 80vh;
// background-image: url('../img/singers.png');
position: relative;
width: 520px;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
z-index: 5;
.anchor {
	display: block;
	position: absolute;
	transition: all .2s ease-in-out;
	&:hover{
		transform:scale(1.1);
	}
	&-img{
		display: block;
		width: 100%;
	}
	&.boneym{
		top: 3px;
    	left: 128px;
		width: 208px;
	}
	&.serov{
		top: 23px;
    	left: 341px;
		width: 78px;

	}
	&.lara{
		top: 39px;
    	left: 71px;
		width: 122px;

	}
	&.polina_gagarina{
		    top: 41px;
    left: 164px;
    width: 221px;
		z-index: 10;

	}
	&.diskoteka{
		   
		z-index: 10;
		top: 91px;
    left: 69px;
    width: 145px;

	}
	&.maroon{
		   
    top: 52px;
    left: 216px;
    width: 227px;

	}
	&.soso{
		   
        top: 122px;
    left: 86px;
    width: 173px;

	}
	&.avraam_russo{
		   
        top: 126px;
    left: 282px;
    width: 83px;

	}
	&.agutin{
		  z-index: 10; 
    top: 116px;
    left: 378px;
    width: 93px;

	}
	&.zara{
		   
        top: 141px;
    left: 18px;
    width: 113px;

	}
	&.richiepovveri{
		   
        top: 152px;
    left: 133px;
    width: 223px;

	}
	&.ingrid{
		   
        top: 149px;
    left: 361px;
    width: 137px;

	}
	&.ivanushki{
		    top: 192px;
    left: 34px;
    width: 97px;
	}
	&.thomas_anders{
		       top: 182px;
    left: 131px;
    width: 159px;
	}
	&.premier{
		           top: 206px;
    left: 289px;
    width: 120px;
    z-index: 10;
	}
	&.hi-fi{

		              top: 206px;
    left: 447px;
    width: 43px;
    z-index: 10;
	}
	&.bilan{
		
		      top: 217px;
    left: 36px;
    width: 345px;
	}
	&.sofieelis{
		
		         top: 225px;
    left: 360px;
    width: 145px;
	}
	&.chris_norman{
		
		        top: 261px;
    left: 50px;
    width: 146px;
	}
	&.kuzmin{
		    top: 258px;
    left: 205px;
    width: 122px;
	}
	&.philipp_kirkorov{
		z-index: 10;
		            top: 279px;
    left: 210px;
    width: 240px;
	}
	&.enrike{
		    top: 292px;
    left: 32px;
    width: 187px;
	}
	&.leningrad{
		
		        top: 310px;
    left: 230px;
    width: 264px;
	}
	&.riki_martin{
		
		         top: 356px;
    left: 234px;
    width: 147px
	}
	&.stas_pieha{
		
		         top: 362px;
    left: 392px;
    width: 103px;

	}
	&.al_bano{
		    top: 389px;
    z-index: 10;
    left: 130px;
    width: 184px;
	}
	&.a_studio{
		
		 top: 389px;
    left: 350px;
    width: 150px;
	}
	&.juki{
		
		 top: 427px;
    left: 90px;
    width: 77px
	}
	&.kristina_orbakaite{
		    z-index: 10;
    top: 428px;
    left: 177px;
    width: 230px;
	}
	&.grigoriy_leps{
		
		top: 462px;
    left: 171px;
    width: 217px
	}
	&.banderos{
		    top: 502px;
    left: 171px;
    width: 217px
	}

 }
    	}
		  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
z-index: -1;

	background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0), black);
	opacity: .6; 
  }
}

// ****************************MOBILE VIEW*************************************
/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
.col-xs-12 {
	padding-left: 0;
	padding-right: 0;
}
.row {
	margin: 0;
	padding: 0;
}

.singers {
	transform: scale(0.8);
}
#arrow {
	display: none;	
}
nav {
	.links:after {
		content:'BOOKING';
		margin: 0;
		padding:0;
		font-size: 44px;
		letter-spacing: 28px;
		font-family: 'ArnoPro';
		font-weight: 100;
		color: #fff;
	}
}

.links h1 {
	letter-spacing: 22px;
    text-transform: uppercase;
    font-family: 'ArnoPro';
    font-weight: 100;
    font-size: 58px;
    color: #fff;
    margin: 57px auto;
}

.booking {

	background-size: 300% 100%;
    background-repeat: no-repeat;
    background-position: -380px 0;

h1{
    font-size: 68px;
    letter-spacing: 11px;
    position: relative;
    top: 81%;
}
}

	.goodwill {
		
		text-align: center;
		font-size: 21px;
		font-weight: 100;

		.translate  {
			font-family: 'ArnoPro';
		font-size: 36px;
		color:#b1b1b1;
		p:first-child {
					color:#a88643;
				

		}
			&:after {
						display: none;


							}
					&:before {
						display: none;
							}
						}
					}

		
		.residents {
							text-align: center;

			margin: 15vh auto;
		}
		.wedo {
			font-family: 'ArnoPro';
		font-size: 36px;
		color:#a88643;}
}


.artists {
		position: relative;
	z-index: 2;
	background-image: url('../img/mic.png') ;
display: flex;
align-items:center;
justify-content:center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	@media screen and (min-height: 1344px) { 
	height: calc(100vh - 300px); 

	
}

}



// ********* IPAD LANDSCAPE *****************
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {


.booking{



h1{
    font-size: 150px;
    letter-spacing: 55px;
    position: relative;
    top: 61%;
    left: 4%;
    }
}
.goodwill {
	height: 200vh;
		.translate {
		font-size: 24px;
		&:before, &:after {
		display: none;
		}

	}
}

.residents {
							text-align: center;
			
			
		}

.wedo {
	font-size: 24px;
}
.artists {
	        height: 90vh;
    z-index: 0;
    margin-top: -15vh;
    background-repeat: no-repeat;
    background-size: auto 100%;
	.singers {
		max-height: 70vh;
	}
}

}

/* iPhone 6+ (portrait) ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) {
	
	
.booking {
background-size: 180vh auto;
    background-repeat: no-repeat;
    background-position: -300px auto;

h1{
    font-size: 68px;
    letter-spacing: 11px;
    position: relative;
    top: 81%;
}
}

.goodwill {
	height: 200vh;

		.translate {
		font-size: 24px;
		&:before, &:after {
		display: none;
	}
}
}
.residents {
							text-align: center;
			
			margin: 4vh auto;
		}

.wedo {
	font-size: 24px;
}
.artists {
	    height: 82vh;
    z-index: 0;
	margin-top: 15vh;
	background-repeat: no-repeat;
	background-size: auto 100%;
	.singers {
		content:'';
		width: 50vw;
		margin: 20vh auto;
		background: url('../img/singers.png');
	}
}

}