

.events {
	height: 100vh;
	width:100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-image: url('../img/baloons_white.png');
	background-size: 100% auto;
	background-attachment: fixed;
	-webkit-backface-visibility: hidden;

	background-repeat: no-repeat;
	@media screen and (min-height: 1344px) { 
	height: calc(100vh - 300px); 
	
}
	  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;


	background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0),white),;
	opacity: .4; 
  }
	h1 {
		margin: 0;
		padding:0;
		font-size: 300px;
		letter-spacing: 35px;
		position: relative;
		top:65%;
		left:4%;
		text-transform: uppercase;
		font-family: 'ArnoPro';
		font-weight: 100;
		color: #fff;
position: relative;
	}
	}
.texter {
	height: 80vh;
	display: flex;
	background-image: url('../img/wedding_white.png');
	background-size: cover;
	
	flex-direction:column;
	align-items:center;
	justify-content:center;
	background-repeat: no-repeat;
		  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;


	background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0),white),linear-gradient(to bottom,rgba(255, 255, 255, 0),white),linear-gradient(to bottom,rgba(255, 255, 255, 0),white);
	opacity: .2; 
  }

// .marquee {
//   height: 25px;
//   width: 420px;

//   overflow: hidden;
//   position: relative;
// }

// .marquee div {
//   display: block;
//   width: 200%;
//   height: 30px;

//   position: absolute;
//   overflow: hidden;

//   animation: marquee 5s linear infinite;
// }

// .marquee span {
//   float: left;
//   width: 50%;
// }

// @keyframes marquee {
//   0% { left: 0; }
//   100% { left: -100%; }
// }

// .text-ride {
// 	    animation: marquee 10s infinite;
// 			background: url ('../img/wedding_trans.png');
// 			height: 100px;
// 			width: 1000px;
// 			margin: 20px auto;
// 			  background-position: 0px 0px;

// }
//  @keyframes marquee { 
// from { 
// background-position: 0 0; 
// } 

// to { 
// background-position: 0 300px; 
// } 
// }

	p {
		font-size: 21px;
		text-align: center;
		max-width: 600px;
		margin: 10px auto;
	}
	.statement {
		font-size: 36px;
				font-family: 'ArnoPro';
				font-weight: 100;
				position: relative;
color:#a88643;
		margin-top: 14vh;

&:after {
content:'»';
position: absolute;
top: -20%;

right: -10vw;
font-weight: bold;


		font-size: 100px;


	}
	&:before {
content:'«';
position: absolute;
top: -20%;
left: -10vw;
display: inline-block;
		font-size: 100px;
font-weight: bold;


	}
}
	
}

.anniversary{
	.subheader {
color:#a88643;
				font-family: 'ArnoPro';
				font-weight: 100;
				
	}
.added {
	margin-top: -25vh;
}
.texter {
	background-image: url('../img/champagne_white.png');

	.statement {
		margin-top: 5vh;

&:after {

top: -20%;

right: -10vw;
font-weight: bold;



	}
	&:before {

top: -20%;
left: -10vw;
font-weight: bold;


	}
}
}
} 
.birthsday .texter {
	background-image: url('../img/cake_white.png');
		.statement {
&:after {

top: -20%;

right: -10vw;
font-weight: bold;



	}
	&:before {

top: -20%;
left: -10vw;
font-weight: bold;


	}
}
}
.wedding {
	img{
		margin: 20px auto;
}
h2{
	font-size: 62px;
	text-align: center;
	font-weight: 100;
			font-family: 'ArnoPro';
			color:#a88643;
padding-top: 4vh;

}
p {
		font-size: 21px;
	text-align: center;

}

}
.anniversary {
	@extend .wedding;
}
.birthsday  {
	@extend .wedding;

}


// ****************************MOBILE VERSION***********************************
/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
.col-xs-12 {
	padding-left: 0;
	padding-right: 0;
}
.row {
	margin: 0;
	padding: 0;
}

#arrow {
	display: none;	
}
nav {
	.links:after {
		content:'EVENTS';
		margin: 0;
		padding:0;
		font-size: 72px;
		letter-spacing: 28px;
		font-family: 'ArnoPro';
		font-weight: 100;
		color: #fff;
	}
}

.links h1 {
	letter-spacing: 22px;
    text-transform: uppercase;
    font-family: 'ArnoPro';
    font-weight: 100;
    font-size: 58px;
    color: #fff;
    margin: 57px auto;
}
.events {

	
	background-size: 300% 100%;
    background-repeat: no-repeat;
    background-position: -380px 0;
 &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	

	background-image: linear-gradient(to bottom,rgba(255, 255, 255, .2),white),;
	opacity: .2; 
  }
 

}
.texter {

	p {
		font-size: 18px;
		margin: 1vh 0;
		
		font-weight: thin;
		font-family: "Effra";
	}
	.statement {
		margin: 10vh 0;
		font-size: 21px;
		&:before {
			visibility: hidden;
			

		}
		&:after {
			visibility: hidden;
		}
	}

}

h2 {
		font-size: 50px;
	}

 p.subheader {
		font-size: 20px;
	}
.birthsday .texter {
		background-size: auto 100%;
		background-position: -300px 0;

	}


}


/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

.events {
	
	background-size: 140vh auto;
    background-repeat: no-repeat;
    h1 {
    	    font-size: 241px;
    letter-spacing: 35px;
    position: relative;
    top: 55%;
    }
   
}
.texter {

	p {
		font-size: 20px;
		margin: 1vh 0;
		width: 20vw;

	}
	.statement {
		margin: 10vh 0;   
		 position: relative;
    top: -40px;
		font-size: 30px;
		&:before {
			top:-20%;
			font-size: 70px;
			left: 25%;

		}
		&:after {
			top:-20%;
			font-size: 70px;
			right: 25%;
		}
	}

}

h2 {
		font-size: 50px;
	}

 p.subheader {
		font-size: 24px;
	}
.birthsday .texter {
		background-size: auto 120%;
    background-position: -2px -50px;

	}



.menu-contacts {
	     position: relative;
    top: -3vh;
    left: 2vw;
    .tel {
    	font-size: 16px;
    }
    .share {
    	font-size: 18px;
    }
}

.menu-logo {
	margin: 10vh auto 2vh;
}



.footer {
	margin-top: -160px;
	height: 240px;
	padding: 20px 20px;
	ul {
		width: 50vw;
    margin-left: -80px;
	}
	.mobile-social {
		display: inline;
	}
	.social {
		font-size: 14px;
		margin-left: -70px;
		
		a {
			padding-left: 2px;
			    margin-bottom: -100px;
    position: relative;
    top: 0;
    left: 20px;

		}		
		.top {
			    position: relative;
    top: -24px;
    left: -20px;
		}
	}
}
}

/* iPhone 6+ (portrait) ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) {
.col-xs-12 {
	padding-left: 0;
	padding-right: 0;
}
.row {
	margin: 0;
	padding: 0;
}

#arrow {
	display: none;	
}
nav {
	.links:after {
		content:'EVENTS';
		margin: 0;
		padding:0;
		font-size: 72px;
		letter-spacing: 28px;
		font-family: 'ArnoPro';
		font-weight: 100;
		color: #fff;
	}
}

.links h1 {
	letter-spacing: 22px;
    text-transform: uppercase;
    font-family: 'ArnoPro';
    font-weight: 100;
    font-size: 58px;
    color: #fff;
    margin: 57px auto;
}
.events {

	
	background-size: 300% 100%;
    background-repeat: no-repeat;
    background-position: -380px 0;
 &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	

	background-image: linear-gradient(to bottom,rgba(255, 255, 255, .2),white),;
	opacity: .2; 
  }
 

}
.texter {

	p {
		font-size: 18px;
		margin: 1vh 0;
		
		font-weight: thin;
		font-family: "Effra";
	}
	.statement {
		margin: 10vh 0;
		font-size: 21px;
		&:before {
			visibility: hidden;
			

		}
		&:after {
			visibility: hidden;
		}
	}

}

h2 {
		font-size: 50px;
	}

 p.subheader {
		font-size: 20px;
	}
.birthsday .texter {
		background-size: auto 100%;
		background-position: -300px 0;

	}

}

// GALAXY S5 ********************************************************************
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) {
.col-xs-12 {
	padding-left: 0;
	padding-right: 0;
}
.row {
	margin: 0;
	padding: 0;
}

#arrow {
	display: none;	
}
nav {
	.links:after {
		content:'EVENTS';
		margin: 0;
		padding:0;
		font-size: 72px;
		letter-spacing: 28px;
		font-family: 'ArnoPro';
		font-weight: 100;
		color: #fff;
	}
}

.links h1 {
	letter-spacing: 22px;
    text-transform: uppercase;
    font-family: 'ArnoPro';
    font-weight: 100;
    font-size: 58px;
    color: #fff;
    margin: 57px auto;
}
.events {

	
	background-size: 300% 100%;
    background-repeat: no-repeat;
    background-position: -380px 0;
 &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	

	background-image: linear-gradient(to bottom,rgba(255, 255, 255, .2),white),;
	opacity: .2; 
  }
 

}
.texter {

	p {
		font-size: 18px;
		margin: 1vh 0;
		
		font-weight: thin;
		font-family: "Effra";
	}
	.statement {
		margin: 10vh 0;
		font-size: 21px;
		&:before {
			visibility: hidden;
			

		}
		&:after {
			visibility: hidden;
		}
	}

}

h2 {
		font-size: 50px;
	}

 p.subheader {
		font-size: 20px;
	}
.birthsday .texter {
		background-size: auto 100%;
		background-position: -300px 0;

	}

}

// Iphone 5 *********************************************
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
.col-xs-12 {
	padding-left: 0;
	padding-right: 0;
}
.row {
	margin: 0;
	padding: 0;
}

#arrow {
	display: none;	
}
nav {
	.links:after {
		content:'EVENTS';
		margin: 0;
		padding:0;
		font-size: 72px;
		letter-spacing: 28px;
		font-family: 'ArnoPro';
		font-weight: 100;
		color: #fff;
	}
}

.links h1 {
	letter-spacing: 22px;
    text-transform: uppercase;
    font-family: 'ArnoPro';
    font-weight: 100;
    font-size: 58px;
    color: #fff;
    margin: 57px auto;
}
.events {

	
	background-size: 300% 100%;
    background-repeat: no-repeat;
    background-position: -380px 0;
 &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	

	background-image: linear-gradient(to bottom,rgba(255, 255, 255, .2),white),;
	opacity: .2; 
  }
 

}
.texter {

	p {
		font-size: 13px;
		margin: 1vh 0;
		
		font-weight: thin;
		font-family: "Effra";
	}
	.statement {
		margin: 10vh 0;
		font-size: 21px;
		&:before {
			visibility: hidden;
			

		}
		&:after {
			visibility: hidden;
		}
	}

}

h2 {
		font-size: 50px;
	}

 p.subheader {
		font-size: 20px;
	}
.birthsday .texter {
		background-size: auto 100%;
		background-position: -300px 0;

	}
}


